@charset "utf-8";

/*-------------------------------------*/
/*--       Theme Customization       --*/
/*-------------------------------------*/

//Primary Colors
$primary: rgba(186, 28, 36, 1); // Strong Union Red
$secondary: rgba(255, 255, 255, 1); // Bright White
$highlight-hover: rgba(186, 28, 36, 0.3); // Faded red for hover
$highlight-active: rgba(186, 28, 36, 0.1); // Even softer red for active

//Primary Text
$text-headers: rgba(0, 0, 0, 1); // Black for strong contrast
$text-location: rgba(186, 28, 36, 1); // Union Red for important location text

//Location Information
$location-separator: rgba(186, 28, 36, 0.24); // Subtle red separator

//Mission Pane
$text-mission-title: rgba(186, 28, 36, 0.67); 
$text-mission-status: rgba(186, 28, 36, 0.87);
$mission-start: rgba(109, 109, 109, 1); // Grey start state
$mission-partial: rgba(255, 153, 0, 1); // Orange for partial
$mission-success: rgba(34, 153, 84, 1); // Green for success
$mission-failure: rgba(176, 45, 45, 1); // Deeper failure red

//Pilot Roster Text
$text-pilot-header: rgba(186, 28, 36, 0.67);
$text-pilot-value: rgba(0, 0, 0, 0.87);
$text-pilot-code: rgba(0, 0, 0, 0.47);

//Markdown (Current Assignment, Events Log, Pilot Biography)
$text-markdown-p: rgba(0, 0, 0, 0.87);
$text-markdown-h1: rgba(186, 28, 36, 0.67);
$text-markdown-h2: rgba(0, 0, 0, 0.87);

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&?family=Big+Shoulders+Display:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
